<!-- Site title -->
{{ if or (templates.Exists "partials/custom/header") (templates.Exists "partials/custom/header.html") }}
  {{ partialCached "custom/header" . }}
{{ else }}
  <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a><center><a><span style="font-size:20px">Репетитор по математике онлайн</span></a></center>
{{ end }}

<!-- Menu -->
{{ if .Site.Menus.main }}
  {{ with .Site.Menus.main }}
    <nav>
      <ul>
        {{ range . }}
          <li>
            <a class="btn" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
{{ end }}
